<tr id="product_<%= product.id %>">
  <td data-column="position"><%= product.position %></td>
  <td data-column="category"><%= product.category %></td>
  <td data-column="title"><%= product.title %></td>
  <td data-column="active">
    <span class="status-tag" data-status="<%= product.active ? 'yes' : 'no' %>">
      <%= product.active ? 'Yes' : 'No' %>
    </span>
  </td>
  <td data-column="actions">
    <%= link_to "Edit", edit_polymorphic_path([:admin, product]) %>
  </td>
</tr>
