<div class="relative text-left">
  <div>
    <%= button_tag class: "inline-flex w-full justify-center items-center gap-x-1.5 rounded-md bg-gray-100 dark:bg-gray-700 px-3 py-1 text-sm/6 cursor-pointer text-gray-700 dark:text-white shadow-xs ring-1 ring-gray-300 ring-inset", id: "dropdownLanguageButton", data: { dropdown_toggle: "dropdownLanguage", dropdown_placement: "bottom" } do %>
      <div class="" aria-hidden="true"><%= flag_for_locale(I18n.locale) %></div>
      <%= t('locales.' + I18n.locale.to_s) %>
      <%= heroicon("chevron-down", class: "size-5 text-gray-400") %>
    <% end %>
  </div>

    <!-- Dropdown menu -->
    <div id="dropdownLanguage" class="z-10 hidden bg-gray-100 dark:bg-gray-700 rounded-lg shadow-2xl w-content mx-2">
      <ul class="py-1 text-gray-700 dark:text-gray-200" aria-labelledby="dropdownLanguageButton">
        <% I18n.available_locales.each do |locale| %>
          <li>
            <%= link_to switch_language_admin_admin_user_path(current_admin_user, preferred_language: locale), class: "flex items-center px-4 py-1 no-underline text-gray-700 hover:bg-gray-200 dark:text-white dark:hover:bg-gray-600" do %>
              <div class="me-2" aria-hidden="true"><%= flag_for_locale(locale) %></div>
              <%= t('locales.' + locale.to_s) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
</div>
