<%= semantic_form_for [:admin, resource] do |f| %>
  <%= f.inputs do %>

    <div class="relative inline-flex items-center justify-center w-36 h-36 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
      <span class="font-medium text-5xl text-gray-600 dark:text-gray-300"><%= resource.initials.presence || inline_svg_tag("default-admin-avatar.svg", class: "object-cover w-10 h-10") %></span>
    </div>

    <%#= f.input :avatar, as: :flowbite_avatar %>
    <%#= f.input :avatar, as: :image_attachment, default_image: "default-avatar.svg" %>
    <% if resource.avatar.attached? %>
      <div style="display: none;">
        <%= link_to 'Delete Avatar', delete_avatar_admin_admin_user_path, class: 'image-attachment-delete-file-admin-user-avatar' %>
      </div>
    <% end %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :active, as: :flowbite_toggle %>
  <% end %>
  <%= f.actions %>
<% end %>