<%= form_with(model: contact, url: static_contacts_path, method: :post, local: false, id: "contact_form", data: { turbo: "true" }) do |f| %>
  <div class="mx-auto max-w-xl lg:mr-0 lg:max-w-lg">
    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
      <div class="sm:col-span-2">
        <label for="email" class="block text-sm/6 font-semibold text-gray-900">Email</label>
        <div class="mt-2.5">
          <%= f.email_field :email, autocomplete: "email", class: "block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600", required: true %>
        </div>
      </div>
      <div class="sm:col-span-2">
        <label for="contact_message" class="block text-sm/6 font-semibold text-gray-900">Message</label>
        <div class="mt-2.5">
          <%= f.fields_for :contact_messages, contact.contact_messages.build do |message_form| %>
            <%= message_form.text_area :message, rows: 4, class: "block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600", required: true %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mt-8 flex justify-center">
      <%= f.submit "Send message", class: "rounded-md w-full bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  </div>
<% end %>
