<% if 1 === 2 %>
  <div class="mt-12 py-8 px-4 relative">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="bg-white rounded-lg p-4">
        <h3 class="text-xl font-semibold tracking-tight text-balance text-gray-900 sm:text-3xl uppercase text-center">Restaurant</h3>
        <h2 class="text-lg font-semibold">Friday & Saturday</h2>
        <div class="flex flex-col gap-2">
          <div class="flex flex-row justify-between">
            <p class="text-gray-500">Kitchen:</p>
            <p class="text-gray-500">1:00 PM - 9:00 PM</p>
          </div>
        </div>
        <h2 class="text-lg font-semibold pt-4">Friday</h2>
        <div class="flex flex-col gap-2">
          <div class="flex flex-row justify-between">
            <p class="text-gray-500">Sunset Jazz:</p>
            <p class="text-gray-500">6:00 PM - 8:00 PM</p>
          </div>
        </div>
        <h2 class="text-lg font-semibold pt-4">Sunday</h2>
        <div class="flex flex-col gap-2">
          <div class="flex flex-row justify-between">
            <p class="text-gray-500">Kitchen:</p>
            <p class="text-gray-500">9:00 AM - 6:00 PM</p>
          </div>
          <div class="flex flex-row justify-between">
            <p class="text-gray-500">Brunch:</p>
            <p class="text-gray-500">9:00 AM - 2:00 PM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
 <div class="mt-12 py-8 px-4 border-2 border-white relative">
          <div class="absolute -top-4 sm:-top-6 left-1/2 -translate-x-1/2 bg-gray-900 px-4">
            <h2 class="text-2xl font-semibold tracking-tight text-center text-balance text-white sm:text-5xl uppercase"><%= t('hours.title') %></h2>
          </div>
          <div class="text-center my-4 sm:my-6">
            <h3 class="text-xl font-semibold tracking-tight text-balance text-white sm:text-3xl uppercase"><%= t('hours.restaurant.title') %></h3>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <% friday_saturday_events = @restaurant_events.select { |e| e.start_day == "Friday" && e.end_day == "Saturday" } %>
            <% friday_events = @restaurant_events.select { |e| e.start_day == "Friday" && e.end_day == "Friday" } %>
            <% sunday_events = @restaurant_events.select { |e| e.start_day == "Sunday" && e.end_day == "Sunday" } %>

            <div class="bg-white rounded-lg p-4">
              <% if friday_saturday_events.any? %>
                <h2 class="text-lg font-semibold text-center">
                  <%= friday_saturday_events.first.start_day %> & <%= friday_saturday_events.first.end_day %>
                </h2>
                <div class="flex flex-col gap-2">
                  <% friday_saturday_events.each do |event| %>
                    <div class="flex flex-row justify-between">
                      <p class="text-gray-500"><%= event.label %>:</p>
                      <p class="text-gray-500"><%= event.start_time %> - <%= event.end_time %></p>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <% if friday_events.any? %>
                <h2 class="text-lg font-semibold text-center pt-4">
                  <%= friday_events.first.start_day %>
                </h2>
                <div class="flex flex-col gap-2">
                  <% friday_events.each do |event| %>
                    <div class="flex flex-row justify-between">
                      <p class="text-gray-500"><%= event.label %>:</p>
                      <p class="text-gray-500"><%= event.start_time %> - <%= event.end_time %></p>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="bg-white rounded-lg p-4">
              <% if sunday_events.any? %>
                <h2 class="text-lg font-semibold text-center">
                  <%= sunday_events.first.start_day %>
                </h2>
                <div class="flex flex-col gap-2">
                  <% sunday_events.each do |event| %>
                    <div class="flex flex-row justify-between">
                      <p class="text-gray-500"><%= event.label %>:</p>
                      <p class="text-gray-500"><%= event.start_time %> - <%= event.end_time %></p>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="text-center my-4 sm:my-6">
            <h3 class="text-xl font-semibold tracking-tight text-balance text-white sm:text-3xl uppercase"><%= @store.name %></h3>
          </div>
          <div class="grid grid-cols-1 gap-4">
            <% cafe_events = @store_events.select { |e| e.start_day == "Tuesday" && e.end_day == "Sunday" } %>
            <div class="bg-white rounded-lg p-4">
              <% if cafe_events.any? %>
                <h2 class="text-lg font-semibold text-center">
                  <%= cafe_events.first.start_day %> - <%= cafe_events.first.end_day %>
                </h2>
                <div class="flex flex-col gap-2">
                  <% cafe_events.each do |event| %>
                    <div class="flex flex-row justify-between">
                      <p class="text-gray-500"><%= event.label %>:</p>
                      <p class="text-gray-500"><%= event.start_time %> - <%= event.end_time %></p>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
<% end %>
