<!-- Menu section -->
<div class="relative h-32 sm:h-64 bg-center bg-cover bg-no-repeat bg-fixed flex flex-col items-center justify-center" style="background-image: url('<%= image_path('chicken-parallax.jpg') %>')">
  <h2 class="text-5xl font-perfectly-vintages uppercase tracking-widest text-rope-600 sm:text-7xl"><%= t('menu.title') %></h2>
  <p class="mt-6 text-lg/8 text-white"><%= t('menu.subtitle') %></p>
</div>

<div class="bg-white my-4">
  <%= render "menu_items", local_assigns: {
    title: t('menu.hot_dishes.title'),
    description: t('menu.hot_dishes.description'),
    menu_items: @menu_items
  } %>
  <%= render "menu_items", local_assigns: {
    title: t('menu.beverages.title'),
    subtitle: t('menu.beverages.specialty_cocktails.title'),
    additional_info: t('menu.beverages.specialty_cocktails.additional_info'),
    menu_items: @specialty_cocktails
  } %>
  <%= render "menu_items", local_assigns: {
    subtitle: t('menu.beverages.non_alcoholic.title'),
    menu_items: @non_alcoholic_specialties
  } %>
</div>