<% @title = local_assigns[:title] %>
<% @subtitle = local_assigns[:subtitle] %>
<% @additional_info = local_assigns[:additional_info] %>
<% @description = local_assigns[:description] %>
<% @menu_items = local_assigns[:menu_items] %>


<div class="mx-auto max-w-2xl text-center space-y-1 mt-4 text-gray-900">
  <% if @title %>
    <h2 id="menu-section-title-<%= @title.parameterize %>" class="text-2xl font-semibold tracking-tight text-center text-balance text-gray-900 sm:text-5xl uppercase"><%= @title %></h2>
  <% end %>
  <% if @subtitle %>
    <h3 id="menu-section-subtitle-<%= @subtitle.parameterize %>" class="text-xl mt-2 font-semibold tracking-wide text-balance sm:text-3xl uppercase"><%= @subtitle %></h3>
  <% end %>
  <% if @additional_info %>
    <% @additional_info.each do |info| %>
      <p class="my-0 mx-4 text-lg/8 text-gray-600 text-balance text-pretty"><%= info %></p>
    <% end %>
  <% end %>
  <% if @description %>
    <p class="mx-4 mb-4 text-lg/6 text-gray-600 text-balance text-pretty"><%= @description %></p>
  <% end %>
</div>

<div class="mx-auto mx-4">
  <% if @menu_items.any? %>
    <ul role="list" class="mx-auto grid max-w-xl grid-cols-1 gap-y-2 sm:gap-x-8 sm:gap-y-4 sm:grid-cols-1 sm:max-w-7xl md:gap-x-8 md:gap-y-4 md:grid-cols-1 md:max-w-7xl lg:gap-x-8 lg:gap-y-4 lg:grid-cols-2 lg:max-w-7xl xl:gap-x-8 xl:gap-y-4 xl:grid-cols-2 xl:max-w-7xl 2xl:gap-x-8 2xl:gap-y-4 2xl:grid-cols-3 2xl:max-w-[80%]">
      <% @menu_items.each do |item| %>

        <li class="relative flex flex-row gap-2 sm:gap-4 p-4 pt-10 mx-4 <%= item.recommended? ? "border-gray-200 border-2" : "border-transparent" %>">
          <% if item.recommended? %>
            <div class="absolute inset-0 top-0 left-0 isolate">
              <p class="text-sm/6 font-semibold text-gray-900 bg-gray-200 py-1 px-6 w-fit"><%= item.recommended_text.presence || t('menu.default_recommended_text') %></p>
            </div>
          <% end %>
          <% if item.has_photos? %>
            <%= image_tag(item.photos.first.variant(:thumb), class: "mx-auto hidden sm:block sm:size-12 md:size-12 lg:size-14 xl:size-24 object-cover rounded-full aspect-square") %>
          <% else %>
            <img class="mx-auto hidden sm:block sm:size-12 md:size-12 lg:size-14 xl:size-24 rounded-full" src="https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
          <% end %>
          <div class="flex-auto">
            <div class="flex flex-row justify-between">
              <h3 class="text-lg/8 font-semibold tracking-tight text-gray-900"><%= item.title %></h3>
              <h3 class="text-lg/8 font-semibold tracking-tight text-gray-900"><%= item.price %></h3>
            </div>
            <p class="text-base/7 text-gray-600"><%= item.options %></p>
            <p class="mt-2 text-base/7 text-gray-600 text-balance text-pretty"><%= item.description %></p>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="mx-4 text-lg/8 text-gray-600 text-balance text-pretty"><%= t('menu.no_items_found') %></p>
  <% end %>
</div>