<section id="home">
  <%= render "hero" %>
</section>

<section id="about">
  <%= render "about" %>
</section>

<section id="our_restaurant">
  <%= render "our_restaurant" %>
</section>

<section id="team">
  <%= render "team" %>
</section>

<section id="subscribe">
  <%= render "subscribe" %>
</section>

<section id="menu">
  <%= render "menu" %>
</section>

<section id="gallery">
  <%= render "gallery" %>
</section>

<section id="contact">
  <%= render "contact" %>
</section>

<section id="testimonial">
  <%= render "testimonial" %>
</section>
