<section id="home" class="">
  <%= render "hero" %>
</section>

<section id="about" class="">
  <%= render "about" %>
</section>

<section id="our_restaurant" class="">
  <%= render "our_restaurant" %>
</section>

<section id="team" class="">
  <%= render "team" %>
</section>

<section id="menu" class="">
  <%= render "menu" %>
</section>


<section id="gallery" class="">
  <%= render "gallery" %>
</section>

<section id="contact" class="">
  <%= render "contact" %>
</section>

<section id="testimonial" class="">
  <%= render "testimonial" %>
</section>
