<% flash.each do |flash_type, message| %>
  <% flash_type_attributes = case flash_type
  when "notice", "success"
    {icon: "check-circle", container_classes: "bg-green-50 ring-green-400/50", icon_classes: "text-green-400", text_classes: "text-green-800", button_classes: "bg-green-50 text-green-500 hover:bg-green-100 focus:ring-green-600 focus:ring-offset-green-50"}
  when "alert", "error", "danger"
    {icon: "exclamation-circle", container_classes: "bg-red-50 ring-red-400/50", icon_classes: "text-red-400", text_classes: "text-red-800", button_classes: "bg-red-50 text-red-500 hover:bg-red-100 focus:ring-red-600 focus:ring-offset-red-50"}
  when "info"
    {icon: "information-circle", container_classes: "bg-blue-50 ring-blue-400/50", icon_classes: "text-blue-400", text_classes: "text-blue-800", button_classes: "bg-blue-50 text-blue-500 hover:bg-blue-100 focus:ring-blue-600 focus:ring-offset-blue-50"}
  else
    {icon: "exclamation-triangle", container_classes: "bg-yellow-50 ring-yellow-400/50", icon_classes: "text-yellow-400", text_classes: "text-yellow-800", button_classes: "bg-yellow-50 text-yellow-500 hover:bg-yellow-100 focus:ring-yellow-600 focus:ring-offset-yellow-50"}
  end %>

  <div class="rounded-md fixed top-25 z-[9999] p-4 py-6 w-1/2 translate-x-1/2 shadow-xl ring-1 ring-inset <%= flash_type_attributes[:container_classes] %> animate-appear-then-fade"
       data-controller="element-removal flash-position"
       data-flash-position-target="flash"
       data-action="animationend->element-removal#remove">
    <div class="flex items-center gap-4">
      <div class="shrink-0">
        <%= heroicon flash_type_attributes[:icon], variant: "solid", class: "size-8 #{flash_type_attributes[:icon_classes]}" %>
      </div>
      <div class="ml-3">
        <p class="text-lg font-medium <%= flash_type_attributes[:text_classes] %>"><%= message.html_safe %></p>
      </div>
      <div class="ml-auto pl-3">
        <div class="-mx-1.5 -my-1.5">
          <button type="button" class="inline-flex rounded-md p-1.5 focus:ring-2 focus:ring-offset-2 focus:outline-hidden <%= flash_type_attributes[:button_classes] %>" data-action="click->element-removal#remove">
            <span class="sr-only">Dismiss</span>
            <svg class="size-8" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>