<!-- Header -->
<header class="absolute inset-x-0 top-0 z-50 bg-siam-50/50" data-controller="toggle">
  <nav class="flex items-center justify-between py-0 px-4 lg:p-6 lg:px-8" aria-label="Global">
    <!-- Left logo - Flame icon (hidden on small, shown on large) -->
    <div class="hidden lg:flex lg:flex-1">
      <%= link_to root_path, class: "-m-1.5 p-1.5 cursor-pointer" do %>
        <span class="sr-only"><%= t('header.home') %></span>
        <img class="size-10 w-auto" src="<%= image_path('logos/LOGO Flame.png') %>" alt="Lumbre Flame">
      <% end %>
    </div>

    <!-- Left Language Select (shown on small, hidden on large) -->
    <div class="flex lg:hidden">
      <%= render 'layouts/language_select' %>
    </div>

    <!-- Center logo - Name only (shown on small, hidden on large) -->
    <div class="flex-1 flex justify-center lg:hidden">
      <%= link_to root_path, class: "block" do %>
        <span class="sr-only"><%= t('header.home') %></span>
        <img class="h-10 w-auto" src="<%= image_path('logos/LOGO-LUMBRE_original_name_only.png') %>" alt="Lumbre">
      <% end %>
    </div>

    <!-- Hamburger menu button -->
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-lg p-2.5 text-siam-800 hover:text-siam-950 hover:bg-siam-100/50 transition-all duration-300" aria-expanded="false" data-action="toggle#toggleMobileMenu" data-toggle-target="hamburgerButton">
        <span class="sr-only"><%= t('header.open_menu') %></span>
        <svg class="size-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>

    <!-- Desktop Navigation -->
    <div class="hidden lg:flex lg:gap-x-12 items-center justify-center">
      <% if Flipper.enabled?(:enable_about) %>
        <%= link_to t('header.about'), '#about', class: 'link-light text-sm font-semibold cursor-pointer', data: { controller: 'scroll-to' } %>
      <% end %>
      <div class="relative">
        <%= button_tag t('header.menu'), class: 'heading-display text-4xl cursor-pointer', aria: { expanded: "false" }, data: { action: 'toggle#toggleDropdown', toggle_target: 'dropdownButton' } %>
        <div class="absolute top-full -left-8 z-10 mt-3 w-screen max-w-md overflow-hidden rounded-2xl bg-white shadow-xl ring-1 ring-siam-200 hidden" data-toggle-target="dropdownMenu">
          <div class="p-4">
            <div class="menu-dropdown-item">
              <div class="menu-dropdown-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-icon lucide-utensils"><path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/><path d="M7 2v20"/><path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/></svg>
              </div>
              <div class="flex-auto">
                <%= link_to "#menu", class: "block font-semibold link-primary cursor-pointer", data: { controller: 'scroll-to', action: 'toggle#toggleDropdownItem' } do %>
                  <%= t('header.menu') %>
                  <span class="absolute inset-0"></span>
                <% end %>
                <p class="mt-1 text-sm text-siam-600"><%= t('header.menu_description') %></p>
              </div>
            </div>
            <!--
            <div class="menu-dropdown-item">
              <div class="menu-dropdown-icon">
                <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672ZM12 2.25V4.5m5.834.166-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243-1.59-1.59" />
                </svg>
              </div>

              <div class="flex-auto">
                <%= link_to "#menu-section-title-hot-dishes", class: "block font-semibold link-primary cursor-pointer", data: { controller: 'scroll-to', action: 'toggle#toggleDropdownItem' } do %>
                  <%= t('header.hot_dishes') %>
                  <span class="absolute inset-0"></span>
                <% end %>
                <p class="mt-1 text-sm text-siam-600"><%= t('header.hot_dishes_description') %></p>
              </div>
            </div>
            -->
            <div class="menu-dropdown-item">
              <div class="menu-dropdown-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-glass-water-icon lucide-glass-water"><path d="M5.116 4.104A1 1 0 0 1 6.11 3h11.78a1 1 0 0 1 .994 1.105L17.19 20.21A2 2 0 0 1 15.2 22H8.8a2 2 0 0 1-2-1.79z"/><path d="M6 12a5 5 0 0 1 6 0 5 5 0 0 0 6 0"/></svg>
              </div>
              <div class="flex-auto">
                <%= link_to "#menu-section-title-beverages", class: "block font-semibold link-primary cursor-pointer", data: { controller: 'scroll-to', action: 'toggle#toggleDropdownItem' } do %>
                  <%= t('header.beverages') %>
                  <span class="absolute inset-0"></span>
                <% end %>
                <p class="mt-1 text-sm text-siam-600"><%= t('header.beverages_description') %></p>
              </div>
            </div>
            <div class="menu-dropdown-item">
              <div class="menu-dropdown-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-martini-icon lucide-martini"><path d="M8 22h8"/><path d="M12 11v11"/><path d="m19 3-7 8-7-8Z"/></svg>
              </div>
              <div class="flex-auto">
                <%= link_to "#menu-section-subtitle-specialty-cocktails", class: "block font-semibold link-primary cursor-pointer", data: { controller: 'scroll-to', action: 'toggle#toggleDropdownItem' } do %>
                  <%= t('header.specialty_cocktails') %>
                  <span class="absolute inset-0"></span>
                <% end %>
                <p class="mt-1 text-sm text-siam-600"><%= t('header.specialty_cocktails_description') %></p>
              </div>
            </div>
            <div class="menu-dropdown-item">
              <div class="menu-dropdown-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-wine-off-icon lucide-wine-off"><path d="M8 22h8"/><path d="M7 10h3m7 0h-1.343"/><path d="M12 15v7"/><path d="M7.307 7.307A12.33 12.33 0 0 0 7 10a5 5 0 0 0 7.391 4.391M8.638 2.981C8.75 2.668 8.872 2.34 9 2h6c1.5 4 2 6 2 8 0 .407-.05.809-.145 1.198"/><line x1="2" x2="22" y1="2" y2="22"/></svg>
              </div>
              <div class="flex-auto">
                <%= link_to "#menu-section-subtitle-non-alcoholic-specialties", class: "block font-semibold link-primary cursor-pointer", data: { controller: 'scroll-to', action: 'toggle#toggleDropdownItem' } do %>
                  <%= t('header.non_alcoholic_specialties') %>
                  <span class="absolute inset-0"></span>
                <% end %>
                <p class="mt-1 text-sm text-siam-600"><%= t('header.non_alcoholic_specialties_description') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if Flipper.enabled?(:enable_gallery) %>
        <%= link_to t('header.gallery'), '#gallery', class: 'link-light text-sm font-semibold cursor-pointer', data: { controller: 'scroll-to' } %>
      <% end %>
      <%= link_to t('header.contact'), '#contact', class: 'heading-display text-4xl cursor-pointer', data: { controller: 'scroll-to' } %>
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-x-4 items-center justify-center">
      <% if Flipper.enabled?(:enable_admin_dev_tools) %>
        <%= render 'layouts/dev_tools_select' %>
      <% end %>
      <%= render 'layouts/language_select' %>
      <% if Flipper.enabled?(:user_sign_in) || Flipper.enabled?(:user_sign_in) %>
        <% if user_signed_in? %>
          <%= link_to t('header.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: 'link-light text-sm font-semibold' %>
        <% else %>
          <% if Flipper.enabled?(:user_sign_in) %>
            <%= button_tag t('header.sign_in'), data: { modal_target: 'authentication-modal', modal_toggle: 'authentication-modal' }, class: 'link-light text-sm font-semibold' %>
          <% end %>
          <% if Flipper.enabled?(:user_sign_in) %>
            <%= link_to t('header.sign_up'), new_user_registration_path, class: 'link-light text-sm font-semibold' %>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="hidden" role="dialog" aria-modal="true" data-toggle-target="mobileMenu">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
    <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-siam-950 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-siam-800">
      <div class="flex items-center justify-between">
        <%= link_to root_path, class: "-m-1.5 p-1.5" do %>
          <span class="sr-only"><%= t('header.home') %></span>
          <img class="h-10 w-auto" src="<%= image_path('logos/LOGO Flame.png') %>" alt="">
        <% end %>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-siam-100" aria-expanded="true" data-action="toggle#toggleMobileMenu" data-toggle-target="closeMenuButton">
          <span class="sr-only"><%= t('header.close_menu') %></span>
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-siam-800/50">
          <div class="space-y-2 py-6">
            <% if Flipper.enabled?(:enable_about) %>
              <%= link_to t('header.about'), '#about', class: "-mx-3 block rounded-lg px-4 py-3 text-base font-semibold link-light hover:bg-siam-900", data: { action: 'toggle#toggleMobileMenuItems' } %>
            <% end %>

            <%= link_to '#menu', class: "-mx-3 flex items-center gap-x-3 rounded-lg px-4 py-3 text-base font-semibold link-light hover:bg-siam-900", data: { action: 'toggle#toggleMobileMenuItems' } do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-icon lucide-utensils flex-shrink-0"><path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/><path d="M7 2v20"/><path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/></svg>
              <%= t('header.menu') %>
            <% end %>

            <%= link_to '#menu-section-title-beverages', class: "mx-3 flex items-center gap-x-3 rounded-lg px-4 py-3 text-sm link-light hover:bg-siam-900", data: { action: 'toggle#toggleMobileMenuItems' } do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-glass-water-icon lucide-glass-water flex-shrink-0"><path d="M5.116 4.104A1 1 0 0 1 6.11 3h11.78a1 1 0 0 1 .994 1.105L17.19 20.21A2 2 0 0 1 15.2 22H8.8a2 2 0 0 1-2-1.79z"/><path d="M6 12a5 5 0 0 1 6 0 5 5 0 0 0 6 0"/></svg>
              <%= t('header.beverages') %>
            <% end %>

            <%= link_to '#menu-section-subtitle-specialty-cocktail', class: "mx-3 flex items-center gap-x-3 rounded-lg px-4 py-3 text-sm link-light hover:bg-siam-900", data: { action: 'toggle#toggleMobileMenuItems' } do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-martini-icon lucide-martini flex-shrink-0"><path d="M8 22h8"/><path d="M12 11v11"/><path d="m19 3-7 8-7-8Z"/></svg>
              <%= t('header.specialty_cocktails') %>
            <% end %>

            <%= link_to '#menu-section-subtitle-non-alcoholic-specialties', class: "mx-3 flex items-center gap-x-3 rounded-lg px-4 py-3 text-sm link-light hover:bg-siam-900", data: { action: 'toggle#toggleMobileMenuItems' } do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-wine-off-icon lucide-wine-off flex-shrink-0"><path d="M8 22h8"/><path d="M7 10h3m7 0h-1.343"/><path d="M12 15v7"/><path d="M7.307 7.307A12.33 12.33 0 0 0 7 10a5 5 0 0 0 7.391 4.391M8.638 2.981C8.75 2.668 8.872 2.34 9 2h6c1.5 4 2 6 2 8 0 .407-.05.809-.145 1.198"/><line x1="2" x2="22" y1="2" y2="22"/></svg>
              <%= t('header.non_alcoholic_specialties') %>
            <% end %>

            <% if Flipper.enabled?(:enable_gallery) %>
              <%= link_to t('header.gallery'), '#gallery', class: "-mx-3 block rounded-lg px-4 py-3 text-base font-semibold link-light hover:bg-siam-900", data: { action: 'toggle#toggleMobileMenuItems' } %>
            <% end %>
            <%= link_to t('header.contact'), '#contact', class: "-mx-3 block rounded-lg px-4 py-3 text-base font-semibold link-light hover:bg-siam-900", data: { action: 'toggle#toggleMobileMenuItems' } %>
          </div>
          <% if @socials.any? %>
            <div class="flex justify-center gap-x-12 md:order-2 py-12">
              <%= render partial: "layouts/footer_socials", collection: @socials %>
            </div>
          <% end %>
          <div class="py-6 flex gap-x-4">
            <% if Flipper.enabled?(:user_sign_in) || Flipper.enabled?(:user_sign_in) %>
              <% if user_signed_in? %>
                <%= link_to t('header.sign_out'), destroy_user_session_path, class: "btn btn-primary" %>
              <% else %>
                <% if Flipper.enabled?(:user_sign_in) %>
                  <%= link_to t('header.sign_in'), new_user_session_path, class: "w-full btn btn-primary" %>
                <% end %>
                <% if Flipper.enabled?(:user_sign_in) %>
                  <%= link_to t('header.sign_up'), new_user_registration_path, class: "w-full btn btn-secondary" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
